In [5]:
import pandas as pd
from tqdm.autonotebook import tqdm
tqdm.pandas()

/Users/LujFel/anaconda3/lib/python3.7/site-packages/tqdm/autonotebook/__init__.py:14: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  " (e.g. in jupyter console)", TqdmExperimentalWarning)

In [7]:
from langdetect import detect

In [23]:
detect("ليش نحنا نحب الاكل")

'ar'

In [11]:
def lang(x):
    try:
        return detect(x)
    except:
        return a

Read in the fetched 20 tweets dataframe of all PIF followers

In [72]:
ef = pd.read_csv('tweets_ver3.csv')
ef.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 621951 entries, 0 to 621950
Data columns (total 2 columns):
username    621951 non-null object
tweet       621951 non-null object
dtypes: object(2)
memory usage: 9.5+ MB

Detect the Language for each tweet (observation)

In [73]:
ef['lang'] = ef.tweet.progress_apply(lambda x : lang(x) == 'en')

HBox(children=(IntProgress(value=0, max=621951), HTML(value='')))

Group by username, then sum the language values

In [74]:
ef2 = ef.groupby(['username']).sum()

In [75]:
ef2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34357 entries, 000_ibrahim to zzzz1233
Data columns (total 1 columns):
lang    34357 non-null int64
dtypes: int64(1)
memory usage: 536.8+ KB

Filter by value of language sume, if 75% of all recent tweets are english, we assume the user is english

In [76]:
ef3 = ef2[ef2['lang'] >14]

In [77]:
ef3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 676 entries, 0504537439 to zoetic_
Data columns (total 1 columns):
lang    676 non-null int64
dtypes: int64(1)
memory usage: 10.6+ KB

We have 600+ users who recently tweets mostly in english down from 40K total users, we assume the chosen data sample is respresentative of all followers. We only choose english to avoid Arabic NLP limitation for now

In [78]:
ef3.head()

                 lang
username
0504537439         16
0ldahbsa6oaifec    15
10mgp              17
155mo              15
1_off              19

In [79]:
ef3.reset_index(level=0, inplace=True)

Save teh list of EN users to a CSV File

In [80]:
ef3[['username']].to_csv('enusers_finale.csv', index=False, header=True)

In [81]:
pd.read_csv('enusers_finale.csv')

            username
0         0504537439
1    0ldahbsa6oaifec
2              10mgp
3              155mo
4              1_off
5      1abdulmajeed1
6    2p3dxsqbhjlkj6m
7       3bdullahkhan
8         3en_al3rab
9    45v3koyddvjrdfw
10            4misss
11              7yhy
12         8711_adil
13    _9358788349313
14          _aaziz18
15          _amk_515
16           _jayd3e
17        _jujufahad
18           _khuder
19           _mmauri
20   _rent_car_dubai
21           a0azzam
22      a2_almutairi
23            a_azam
24          a_jelwah
25       aahassanien
26           aalmd3g
27          aalmigal
28        aanoorwali
29             ab4ul
..               ...
646         wllmtell
647     wreed_obaied
648          x4najdx
649  xeetdtvcjpvvgns
650  xhsjteki8wbwrux
651           y_tory
652          ya7yasm
653    yahya_25thjan
654           yaraor
655    yasinghazzawi
656  yasmin_aljedawi
657    yazanofarabia
658        yo_hammad
659          yoomiii
660      yossefbass4
661    yousefalnaimi
662        yousifdol
663      yousofsabri
664     youssefzafri
665  yumarketingclub
666  ywdrx44qm0jgsjp
667         z_madini
668   zaidaltarawneh
669     zainabfattah
670            zawya
671  zic30ebacm86zck
672          zilch30
673    ziyadalgwiser
674          ziyadms
675          zoetic_

[676 rows x 1 columns]

Now that we have the list of english users, we fetch ALL of their tweets (max 1500 per user)

In [ ]:
import twint
import pandas as pd

x = 'enusers_finale.csv'
x = pd.read_csv(x)
x = list(x.username)

for a in x:
    v = twint.Config()
    v.Username = a
    v.Limit = 1500
#     v.Custom["tweet"] = ['id', 'date', 'time', 'timezone', 'username', 'tweet', 'mentions', 'location', 'hashtags', 'retweet']
    v.Store_csv = True
    v.Output = "tweets_finale_full.csv"
    twint.run.Search(v)