In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
from tqdm.autonotebook import tqdm
tqdm.pandas()
from langdetect import detect

/Users/LujFel/anaconda3/lib/python3.7/site-packages/tqdm/autonotebook/__init__.py:14: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  " (e.g. in jupyter console)", TqdmExperimentalWarning)

Read the data

In [6]:
df = pd.read_csv('tweets_finale_full.csv', low_memory=False)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607986 entries, 0 to 607985
Data columns (total 23 columns):
id                 607986 non-null int64
conversation_id    607986 non-null int64
created_at         607986 non-null int64
date               607986 non-null object
time               607986 non-null object
timezone           607986 non-null object
user_id            607986 non-null int64
username           607986 non-null object
name               607986 non-null object
place              192 non-null object
tweet              607986 non-null object
mentions           251159 non-null object
urls               607986 non-null object
photos             607986 non-null object
replies_count      607986 non-null int64
retweets_count     607986 non-null int64
likes_count        607986 non-null int64
location           0 non-null float64
hashtags           607986 non-null object
link               607986 non-null object
retweet            0 non-null float64
quote_url          36154 non-null object
video              607986 non-null int64
dtypes: float64(2), int64(8), object(13)
memory usage: 106.7+ MB

In [8]:
df.head(2)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,tweet,mentions,urls,photos,replies_count,retweets_count,likes_count,location,hashtags,link,retweet,quote_url,video
0,1087652359809970176,1087652359809970176,1548151504000,2019-01-22,10:05:04,UTC,549184853,0504537439,مجموعه الشنبري العقاريه مكه المكرمه,NaN,pic.twitter.com/oqW8eeHfwg,NaN,[],['https://pbs.twimg.com/media/DxgeDVpX0AAd1mV....,0,0,0,NaN,[],https://twitter.com/0504537439/status/10876523...,NaN,NaN,0
1,1081915639554625541,1081915639554625541,1546783764000,2019-01-06,14:09:24,UTC,549184853,0504537439,مجموعه الشنبري العقاريه مكه المكرمه,NaN,pic.twitter.com/Rx6NyiZf9T,NaN,[],['https://pbs.twimg.com/media/DwO8h4_WoAAa6ii....,0,0,1,NaN,[],https://twitter.com/0504537439/status/10819156...,NaN,NaN,0

TO MAKE SURE WE SCRAPED ALL THE USERS!

In [9]:
us = list(df.username.unique())

In [35]:
# li = list(li.username)

In [36]:
# oh = list(set(us).intersection(li))

In [127]:
len(oh)

675

The dif between the wto lists is 1, so we're mostly good

In [128]:
len([item for item in li if item not in us])

1

In [10]:
# check id is unique
df.id.nunique()

607986

In [11]:
# set id to be index
df.set_index('id', inplace=True)

In [37]:
# define lang detect function
def lang(x):
    try:
        a = detect(x)
    except:
        a = 0
    return a

Apply language detection function to the entire dataframe

In [ ]:
df['lang'] = df.tweet.progress_apply(lambda x : 1 if lang(x) == 'en' else 0)

HBox(children=(IntProgress(value=0, max=607986), HTML(value='')))

In [138]:
df.to_csv('tweets_finale_full_lang.csv')

In [176]:
df.username.nunique()

901

In [13]:
df_easy = pd.read_csv('tweets_finale_full_lang.csv')

/Users/LujFel/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,1,2,3,4,5,6,8,9,10,11,12,13,14,19,20,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
df_easy.head()

,Unnamed: 0,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,tweet,mentions,urls,photos,replies_count,retweets_count,likes_count,location,hashtags,link,retweet,quote_url,video,lang
0,0,1.08765e+18,1.08765e+18,1.54815e+12,2019-01-22,10:05:04,UTC,549184853.0,0504537439,مجموعه الشنبري العقاريه مكه المكرمه,NaN,pic.twitter.com/oqW8eeHfwg,NaN,[],['https://pbs.twimg.com/media/DxgeDVpX0AAd1mV....,0.0,0.0,0.0,NaN,NaN,https://twitter.com/0504537439/status/10876523...,NaN,NaN,0.0,1.0
1,1,1.08192e+18,1.08192e+18,1.54678e+12,2019-01-06,14:09:24,UTC,549184853.0,0504537439,مجموعه الشنبري العقاريه مكه المكرمه,NaN,pic.twitter.com/Rx6NyiZf9T,NaN,[],['https://pbs.twimg.com/media/DwO8h4_WoAAa6ii....,0.0,0.0,1.0,NaN,NaN,https://twitter.com/0504537439/status/10819156...,NaN,NaN,0.0,1.0
2,2,1.07566e+18,1.07566e+18,1.54529e+12,2018-12-20,08:01:09,UTC,549184853.0,0504537439,مجموعه الشنبري العقاريه مكه المكرمه,NaN,pic.twitter.com/JMWD460YSh,NaN,[],['https://pbs.twimg.com/media/Du2FN1hWkAAVSqQ....,2.0,0.0,1.0,NaN,NaN,https://twitter.com/0504537439/status/10756623...,NaN,NaN,0.0,1.0
3,3,1.05086e+18,1.05085e+18,1.53938e+12,2018-10-12,21:10:15,UTC,549184853.0,0504537439,مجموعه الشنبري العقاريه مكه المكرمه,NaN,pic.twitter.com/qOgexGGqmT,NaN,[],['https://pbs.twimg.com/media/DpVkITCW4AUQZu6....,0.0,2.0,1.0,NaN,NaN,https://twitter.com/0504537439/status/10508561...,NaN,NaN,0.0,1.0
4,4,1.05085e+18,1.05085e+18,1.53938e+12,2018-10-12,21:03:24,UTC,549184853.0,0504537439,مجموعه الشنبري العقاريه مكه المكرمه,NaN,في الطايف المأنوس مع لفيف من الاشراف وفي ضيافة...,NaN,[],['https://pbs.twimg.com/media/DpViiY5XUAEVc9B....,1.0,3.0,6.0,NaN,NaN,https://twitter.com/0504537439/status/10508544...,NaN,NaN,0.0,0.0

In [15]:
df_easy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1138626 entries, 0 to 1138625
Data columns (total 25 columns):
Unnamed: 0         1073090 non-null object
id                 953297 non-null object
conversation_id    953334 non-null object
created_at         953257 non-null object
date               953334 non-null object
time               953334 non-null object
timezone           953334 non-null object
user_id            953253 non-null float64
username           953310 non-null object
name               953334 non-null object
place              192 non-null object
tweet              953253 non-null object
mentions           251196 non-null object
urls               607986 non-null object
photos             76746 non-null object
replies_count      607905 non-null float64
retweets_count     607905 non-null float64
likes_count        607905 non-null float64
location           0 non-null float64
hashtags           129989 non-null object
link               607905 non-null object
retweet            0 non-null float64
quote_url          36154 non-null object
video              607905 non-null float64
lang               607905 non-null float64
dtypes: float64(8), object(17)
memory usage: 217.2+ MB

In [16]:
df_easy = df.drop(columns = ['conversation_id', 'created_at', 'user_id', 'name', 'urls', 'photos',
                             'location', 'link', 'retweet', 'place'] , axis=1)

In [17]:
df_easy.head()

,date,time,timezone,username,tweet,mentions,replies_count,retweets_count,likes_count,hashtags,quote_url,video
id,,,,,,,,,,,,
1087652359809970176,2019-01-22,10:05:04,UTC,0504537439,pic.twitter.com/oqW8eeHfwg,NaN,0,0,0,[],NaN,0
1081915639554625541,2019-01-06,14:09:24,UTC,0504537439,pic.twitter.com/Rx6NyiZf9T,NaN,0,0,1,[],NaN,0
1075662373841707009,2018-12-20,08:01:09,UTC,0504537439,pic.twitter.com/JMWD460YSh,NaN,2,0,1,[],NaN,0
1050856196327043072,2018-10-12,21:10:15,UTC,0504537439,pic.twitter.com/qOgexGGqmT,NaN,0,2,1,[],NaN,0
1050854469775347712,2018-10-12,21:03:24,UTC,0504537439,في الطايف المأنوس مع لفيف من الاشراف وفي ضيافة...,NaN,1,3,6,[],NaN,0

In [18]:
df_easy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 607986 entries, 1087652359809970176 to 244861225371045888
Data columns (total 12 columns):
date              607986 non-null object
time              607986 non-null object
timezone          607986 non-null object
username          607986 non-null object
tweet             607986 non-null object
mentions          251159 non-null object
replies_count     607986 non-null int64
retweets_count    607986 non-null int64
likes_count       607986 non-null int64
hashtags          607986 non-null object
quote_url         36154 non-null object
video             607986 non-null int64
dtypes: int64(4), object(8)
memory usage: 60.3+ MB

In [151]:
df_easy.to_csv('tweets_finale_full_lang_dropped.csv')

In [19]:
af = pd.read_csv('tweets_finale_full_lang_dropped.csv')

/Users/LujFel/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,1,2,3,4,5,6,7,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
af.drop_duplicates(inplace=True)

In [21]:
af.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 608087 entries, 0 to 1793985
Data columns (total 15 columns):
Unnamed: 0        608086 non-null object
id                608030 non-null object
date              608067 non-null object
time              608067 non-null object
timezone          608067 non-null object
username          608043 non-null object
tweet             607986 non-null object
mentions          251196 non-null object
replies_count     607986 non-null float64
retweets_count    607905 non-null float64
likes_count       607905 non-null float64
hashtags          129989 non-null object
quote_url         36154 non-null object
video             607905 non-null float64
lang              607905 non-null float64
dtypes: float64(5), object(10)
memory usage: 74.2+ MB

In [22]:
af.head()

,Unnamed: 0,id,date,time,timezone,username,tweet,mentions,replies_count,retweets_count,likes_count,hashtags,quote_url,video,lang
0,0,1.08765e+18,2019-01-22,10:05:04,UTC,0504537439,pic.twitter.com/oqW8eeHfwg,NaN,0.0,0.0,0.0,NaN,NaN,0.0,1.0
1,1,1.08192e+18,2019-01-06,14:09:24,UTC,0504537439,pic.twitter.com/Rx6NyiZf9T,NaN,0.0,0.0,1.0,NaN,NaN,0.0,1.0
2,2,1.07566e+18,2018-12-20,08:01:09,UTC,0504537439,pic.twitter.com/JMWD460YSh,NaN,2.0,0.0,1.0,NaN,NaN,0.0,1.0
3,3,1.05086e+18,2018-10-12,21:10:15,UTC,0504537439,pic.twitter.com/qOgexGGqmT,NaN,0.0,2.0,1.0,NaN,NaN,0.0,1.0
4,4,1.05085e+18,2018-10-12,21:03:24,UTC,0504537439,في الطايف المأنوس مع لفيف من الاشراف وفي ضيافة...,NaN,1.0,3.0,6.0,NaN,NaN,0.0,0.0

In [23]:
af.username.nunique()

933

Make sure we only have tweets of en usernames

In [ ]:
bf = af[af.username.isin(uslist)]
bf.head()

In [206]:
bf.to_csv('tweets_finale_finale2_lang.csv')

In [31]:
bf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 577563 entries, 114 to 1793985
Data columns (total 6 columns):
id          577563 non-null object
username    577563 non-null object
tweet       577563 non-null object
mentions    242915 non-null object
hashtags    124147 non-null object
lang        577487 non-null float64
dtypes: float64(1), object(5)
memory usage: 30.8+ MB

In [35]:
af.head()

,id,username,tweet,mentions,hashtags,lang
0,1.08765e+18,0504537439,pic.twitter.com/oqW8eeHfwg,NaN,NaN,1.0
1,1.08192e+18,0504537439,pic.twitter.com/Rx6NyiZf9T,NaN,NaN,1.0
2,1.07566e+18,0504537439,pic.twitter.com/JMWD460YSh,NaN,NaN,1.0
3,1.05086e+18,0504537439,pic.twitter.com/qOgexGGqmT,NaN,NaN,1.0
4,1.05085e+18,0504537439,في الطايف المأنوس مع لفيف من الاشراف وفي ضيافة...,NaN,NaN,0.0

Checking language for tweets before starting to clean

In [37]:
import re

Clean the tweets a bit before cleaning to make sure URLS only tweets are not detected as EN

In [49]:
re.sub('pic.twitter.com\S+', '', str('pic.twitter.com/oqW8eeHfwg'))

'pic.2twitter.com/oqW8eeHfwg'

In [62]:
af.tweet.map(lambda x : re.sub('pic.twitter.com\S+', '', str(x))) == ' '

0           True
1           True
2           True
3           True
4          False
5           True
6          False
7          False
8           True
9           True
10          True
11          True
12          True
13          True
14          True
15          True
16         False
17          True
18          True
19          True
20          True
21          True
22          True
23          True
24         False
25          True
26         False
27         False
28         False
29          True
           ...
1793956    False
1793957    False
1793958    False
1793959    False
1793960    False
1793961    False
1793962    False
1793963    False
1793964    False
1793965    False
1793966    False
1793967    False
1793968    False
1793969    False
1793970    False
1793971    False
1793972    False
1793973    False
1793974    False
1793975    False
1793976    False
1793977    False
1793978    False
1793979    False
1793980    False
1793981    False
1793982    False
1793983    False
1793984    False
1793985    False
Name: tweet, Length: 608042, dtype: bool

In [71]:
bf.shape

(577563, 6)

In [72]:
bf = bf[bf.tweet.str.replace('\S*pic.twitter.com\S*', '', regex=True) != ' ']

In [73]:
bf.shape

(550328, 6)

In [74]:
bf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 550328 entries, 115 to 1793985
Data columns (total 6 columns):
id          550328 non-null object
username    550328 non-null object
tweet       550328 non-null object
mentions    240059 non-null object
hashtags    124147 non-null object
lang        550252 non-null float64
dtypes: float64(1), object(5)
memory usage: 29.4+ MB

Define username list of users who we have at least 75 english tweets for

In [75]:
ef = bf[['username', 'lang']]

In [76]:
gf = ef.groupby(['username']).sum()

In [81]:
gf2 = gf[gf['lang'] >75]

In [82]:
gf2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 429 entries, 10mgp to zoetic_
Data columns (total 1 columns):
lang    429 non-null float64
dtypes: float64(1)
memory usage: 6.7+ KB

In [26]:
# gf2.reset_index(level=0, inplace=True)
# gf2[['username']].to_csv('finale_finale_enusers.csv', index=False, header=True)
uslist = pd.read_csv('finale_finale_enusers.csv')
uslist = list(uslist.username)
len(uslist)

429

filter original data frame by english users from filtered list

In [28]:
af = af[af.username.isin(uslist)]
af.head()

,Unnamed: 0,id,date,time,timezone,username,tweet,mentions,replies_count,retweets_count,likes_count,hashtags,quote_url,video,lang
351,351,1.0452e+18,2018-09-27,06:47:22,UTC,10mgp,I sure will be Lucy. Couldn’t miss it after se...,"['lucylucyprior', 'xrailgroup', 'transcityrail']",1.0,1.0,3.0,NaN,NaN,0.0,1.0
352,352,1.03669e+18,2018-09-03,18:48:27,UTC,10mgp,.@DarbaarbyAbdul Hi there. Have you guys close...,['darbaarbyabdul'],0.0,0.0,0.0,NaN,NaN,0.0,1.0
353,353,1.02886e+18,2018-08-13,04:15:16,UTC,10mgp,@British_Airways We are here for your safety a...,"['johnmsv', 'emirates', 'british_airways']",1.0,0.0,0.0,NaN,NaN,0.0,1.0
354,354,1.01914e+18,2018-07-17,08:29:09,UTC,10mgp,Thanks Paul,"['dr_paul_bryson', 'xrailgroup', 'railindustry...",0.0,0.0,0.0,NaN,NaN,0.0,0.0
355,355,1.01713e+18,2018-07-11,19:30:04,UTC,10mgp,I've just entered #AutoTraderGoals for the cha...,NaN,0.0,0.0,0.0,['#autotradergoals'],NaN,0.0,1.0

In [29]:
af.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 545957 entries, 351 to 1793985
Data columns (total 15 columns):
Unnamed: 0        545957 non-null object
id                545957 non-null object
date              545957 non-null object
time              545957 non-null object
timezone          545957 non-null object
username          545957 non-null object
tweet             545957 non-null object
mentions          239307 non-null object
replies_count     545885 non-null float64
retweets_count    545885 non-null float64
likes_count       545885 non-null float64
hashtags          123127 non-null object
quote_url         35416 non-null object
video             545885 non-null float64
lang              545885 non-null float64
dtypes: float64(5), object(10)
memory usage: 66.6+ MB

Filter to only include english tweets

In [31]:
af = af[af.lang == 1]

In [32]:
af.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 376949 entries, 351 to 1793985
Data columns (total 15 columns):
Unnamed: 0        376949 non-null object
id                376949 non-null object
date              376949 non-null object
time              376949 non-null object
timezone          376949 non-null object
username          376949 non-null object
tweet             376949 non-null object
mentions          164573 non-null object
replies_count     376949 non-null float64
retweets_count    376949 non-null float64
likes_count       376949 non-null float64
hashtags          96640 non-null object
quote_url         25925 non-null object
video             376949 non-null float64
lang              376949 non-null float64
dtypes: float64(5), object(10)
memory usage: 46.0+ MB

Save final dataframe

In [33]:
af.to_csv('finale_go_clean.csv', index=False, header=True)